.text-small{
    font-size: 0.8em;
}

.text-normal{
    font-size: 1em;
}

.text-medium{
    font-size: 1.2em;
}


.text-8-px{
	font-size: 8px;
}


.text-10-px{
	font-size: 10px;
}


.text-12-px{
	font-size: 12px;
}


.text-14-px{
	font-size: 14px;
}


.text-16-px{
	font-size: 16px;
}


.text-18-px{
	font-size: 18px;
}


.text-20-px{
	font-size: 20px;
}


.text-22-px{
	font-size: 22px;
}


.text-24-px{
	font-size: 24px;
}


.text-26-px{
	font-size: 26px;
}


.text-28-px{
	font-size: 28px;
}


.text-30-px{
	font-size: 30px;
}


.text-32-px{
	font-size: 32px;
}


.text-34-px{
	font-size: 34px;
}


.text-36-px{
	font-size: 36px;
}


.text-38-px{
	font-size: 38px;
}


.text-40-px{
	font-size: 40px;
}
