.w-fit-content{
	width: fit-content;
}


.w-1-pct{
	width: 1%;
}


.w-2-pct{
	width: 2%;
}


.w-3-pct{
	width: 3%;
}


.w-4-pct{
	width: 4%;
}


.w-5-pct{
	width: 5%;
}


.w-6-pct{
	width: 6%;
}


.w-7-pct{
	width: 7%;
}


.w-8-pct{
	width: 8%;
}


.w-9-pct{
	width: 9%;
}


.w-10-pct{
	width: 10%;
}


.w-11-pct{
	width: 11%;
}


.w-12-pct{
	width: 12%;
}


.w-13-pct{
	width: 13%;
}


.w-14-pct{
	width: 14%;
}


.w-15-pct{
	width: 15%;
}


.w-16-pct{
	width: 16%;
}


.w-17-pct{
	width: 17%;
}


.w-18-pct{
	width: 18%;
}


.w-19-pct{
	width: 19%;
}


.w-20-pct{
	width: 20%;
}


.w-21-pct{
	width: 21%;
}


.w-22-pct{
	width: 22%;
}


.w-23-pct{
	width: 23%;
}


.w-24-pct{
	width: 24%;
}


.w-25-pct{
	width: 25%;
}


.w-26-pct{
	width: 26%;
}


.w-27-pct{
	width: 27%;
}


.w-28-pct{
	width: 28%;
}


.w-29-pct{
	width: 29%;
}


.w-30-pct{
	width: 30%;
}


.w-31-pct{
	width: 31%;
}


.w-32-pct{
	width: 32%;
}


.w-33-pct{
	width: 33%;
}


.w-34-pct{
	width: 34%;
}


.w-35-pct{
	width: 35%;
}


.w-36-pct{
	width: 36%;
}


.w-37-pct{
	width: 37%;
}


.w-38-pct{
	width: 38%;
}


.w-39-pct{
	width: 39%;
}


.w-40-pct{
	width: 40%;
}


.w-41-pct{
	width: 41%;
}


.w-42-pct{
	width: 42%;
}


.w-43-pct{
	width: 43%;
}


.w-44-pct{
	width: 44%;
}


.w-45-pct{
	width: 45%;
}


.w-46-pct{
	width: 46%;
}


.w-47-pct{
	width: 47%;
}


.w-48-pct{
	width: 48%;
}


.w-49-pct{
	width: 49%;
}


.w-50-pct{
	width: 50%;
}


.w-51-pct{
	width: 51%;
}


.w-52-pct{
	width: 52%;
}


.w-53-pct{
	width: 53%;
}


.w-54-pct{
	width: 54%;
}


.w-55-pct{
	width: 55%;
}


.w-56-pct{
	width: 56%;
}


.w-57-pct{
	width: 57%;
}


.w-58-pct{
	width: 58%;
}


.w-59-pct{
	width: 59%;
}


.w-60-pct{
	width: 60%;
}


.w-61-pct{
	width: 61%;
}


.w-62-pct{
	width: 62%;
}


.w-63-pct{
	width: 63%;
}


.w-64-pct{
	width: 64%;
}


.w-65-pct{
	width: 65%;
}


.w-66-pct{
	width: 66%;
}


.w-67-pct{
	width: 67%;
}


.w-68-pct{
	width: 68%;
}


.w-69-pct{
	width: 69%;
}


.w-70-pct{
	width: 70%;
}


.w-71-pct{
	width: 71%;
}


.w-72-pct{
	width: 72%;
}


.w-73-pct{
	width: 73%;
}


.w-74-pct{
	width: 74%;
}


.w-75-pct{
	width: 75%;
}


.w-76-pct{
	width: 76%;
}


.w-77-pct{
	width: 77%;
}


.w-78-pct{
	width: 78%;
}


.w-79-pct{
	width: 79%;
}


.w-80-pct{
	width: 80%;
}


.w-81-pct{
	width: 81%;
}


.w-82-pct{
	width: 82%;
}


.w-83-pct{
	width: 83%;
}


.w-84-pct{
	width: 84%;
}


.w-85-pct{
	width: 85%;
}


.w-86-pct{
	width: 86%;
}


.w-87-pct{
	width: 87%;
}


.w-88-pct{
	width: 88%;
}


.w-89-pct{
	width: 89%;
}


.w-90-pct{
	width: 90%;
}


.w-91-pct{
	width: 91%;
}


.w-92-pct{
	width: 92%;
}


.w-93-pct{
	width: 93%;
}


.w-94-pct{
	width: 94%;
}


.w-95-pct{
	width: 95%;
}


.w-96-pct{
	width: 96%;
}


.w-97-pct{
	width: 97%;
}


.w-98-pct{
	width: 98%;
}


.w-99-pct{
	width: 99%;
}


.w-100-pct{
	width: 100%;
}




.w-8-px{
	width: 8px;
}


.w-10-px{
	width: 10px;
}


.w-12-px{
	width: 12px;
}


.w-14-px{
	width: 14px;
}


.w-16-px{
	width: 16px;
}


.w-18-px{
	width: 18px;
}


.w-20-px{
	width: 20px;
}


.w-22-px{
	width: 22px;
}


.w-24-px{
	width: 24px;
}


.w-26-px{
	width: 26px;
}


.w-28-px{
	width: 28px;
}


.w-30-px{
	width: 30px;
}


.w-32-px{
	width: 32px;
}


.w-34-px{
	width: 34px;
}


.w-36-px{
	width: 36px;
}


.w-38-px{
	width: 38px;
}


.w-40-px{
	width: 40px;
}


.w-42-px{
	width: 42px;
}


.w-44-px{
	width: 44px;
}


.w-46-px{
	width: 46px;
}


.w-48-px{
	width: 48px;
}


.w-50-px{
	width: 50px;
}


.w-52-px{
	width: 52px;
}


.w-54-px{
	width: 54px;
}


.w-56-px{
	width: 56px;
}


.w-58-px{
	width: 58px;
}


.w-60-px{
	width: 60px;
}


.w-62-px{
	width: 62px;
}


.w-64-px{
	width: 64px;
}


.w-66-px{
	width: 66px;
}


.w-68-px{
	width: 68px;
}


.w-70-px{
	width: 70px;
}


.w-72-px{
	width: 72px;
}


.w-74-px{
	width: 74px;
}


.w-76-px{
	width: 76px;
}


.w-78-px{
	width: 78px;
}


.w-80-px{
	width: 80px;
}


.w-82-px{
	width: 82px;
}


.w-84-px{
	width: 84px;
}


.w-86-px{
	width: 86px;
}


.w-88-px{
	width: 88px;
}


.w-90-px{
	width: 90px;
}


.w-92-px{
	width: 92px;
}


.w-94-px{
	width: 94px;
}


.w-96-px{
	width: 96px;
}


.w-98-px{
	width: 98px;
}


.w-100-px{
	width: 100px;
}
